# MediaMTX v1.15.3 - Clean Config
api: yes
apiAddress: :9997

webrtc: yes
webrtcAddress: :8889

hls: yes
hlsAddress: :8888
hlsAlwaysRemux: yes
hlsVariant: fmp4
hlsSegmentCount: 4
hlsSegmentDuration: 2s
hlsPartDuration: 500ms
hlsSegmentMaxSize: 50M
hlsAllowOrigin: '*'

rtspAddress: :8554
protocols: [tcp]

readTimeout: 20s
writeTimeout: 20s

paths:
  csi_camera:
    runOnInit: /opt/beeperKeeper/config/start_csi_camera.sh
    runOnInitRestart: yes
  usb_camera:
    runOnInit: /opt/beeperKeeper/config/start_usb_camera.sh
    runOnInitRestart: yes
